body{
  text-align: center;
  background-color: #DDD
}
.red{
  color: red;
}

.yellow{
  color: yellow;
  /*background-color: #BBB;*/
}
.green{
  color: green;
}

.blue{
  color: blue;
}
#container{
  background-color: white;
  position: absolute;
  width: 20%;
  top : 25%;
  left: 40%;  /* (100% - witdth) / 2*/
  right: 0;
}

button{
  display: none;
  color:pink;
  background-color: black;
  /*border: 0;*/
  margin-bottom: 100px;
  border-color: white;
}
#header{
  color: white;
}
