body{
  text-align: center;
  background-color: #DDD
}
.white{
  color: white;
}

.color{
  height: 100px;
  width: 100px;
  display: inline-block;
  border: solid;
}
#green{
  border-radius: 100% 0 0 0;
  background-color: green;
}
#red{
  border-radius: 0 100% 0 0;
  background-color: red;
}
#yellow{
  border-radius: 0 0 0 100%;
  background-color: yellow;
}
.blue{
  background-color: blue;
  border-radius: 0 0 100% 0;
}
.colorContainer{
  line-height: 0;
}

#container{
  margin-top: 10px;
  position: absolute;
  width: 20%;
  top : 25%;
  left: 40%;  /* (100% - witdth) / 2*/
  right: 0;
}

#flashes{
  position: absolute;
  width: 30%;
  left: 35%;
  top: 60%;
}

.wobbly{
  display: none;
  color:pink;
  background-color: black;
  /*border: 0;*/
  margin-bottom: 100px;
  border-color: white;
}
#header{
  color: white;
}

.triangle{
  width = 0;
  height: 0;
  border-left: 100px;
  border-right: 100px;
  border-bottom: 100px;
}
